<mat-card [ngClass.gt-sm]="'desktop-weather-info-card'" class="weather-info-card" (click)="navigate()" *ngIf="dailyWeather">
  <mat-card-title class="card-title">{{name | removeString : ','}}</mat-card-title>
  <mat-card-subtitle class="card-maximum-temperature">{{dailyWeather.Temperature?.Metric.Value}}&#730; C</mat-card-subtitle>
  <mat-card-title class="card-title">{{dailyWeather?.WeatherText}}</mat-card-title>
  <img [src]="getIcon()">
</mat-card>

