.content-wrapper {
  border: 2px solid black;
}

.city-input {
  margin-top: 1.5rem;
  width: 50vw;
  height: 1.5rem;
  font-size: 1.2rem;
  padding-left: 1.5rem;
}

mat-form-field {
  width: 30vw;
  overflow: hidden;
}

#search-icon {
  vertical-align: middle;

}

.mob-city-input {
  width: 80vw;
}
