<div fxLayoutAlign="center center">

  <div>
    <form class="example-form">
      <mat-form-field class="example-full-width" ngClass.xs="mob-city-input">
        <mat-icon matPrefix id="search-icon">search</mat-icon>
        <input list="cityname" type="text" matInput [(ngModel)]="input" name="text"
               (ngModelChange)="changeList($event)" lang="en" ngClass="city-input">

      </mat-form-field>

    </form>

    <datalist id="cityname">
      <option #option *ngFor="let city of cityList">{{city?.LocalizedName}}, {{city?.Country.LocalizedName}}</option>
    </datalist>
  </div>

</div>


<app-city-weather-forecast [city]="city"></app-city-weather-forecast>
