<mat-card [ngClass.gt-sm]="'desktop-weather-info-card'" class="weather-info-card" *ngIf="dailyWeather">
  <mat-card-title class="card-title">{{dailyWeather.Date | date:'EEEE'}}</mat-card-title>
  <mat-card-subtitle class="card-maximum-temperature">{{dailyWeather.Temperature.Maximum.Value}}&#730; C
  </mat-card-subtitle>
  <mat-card-subtitle>{{dailyWeather.Temperature.Minimum.Value}}&#730; C</mat-card-subtitle>
  <img [src]="getIcon()">
</mat-card>
