.weather-info-card {
  width: 60vw;
  max-width: 200px;
  text-align: center;
  height: 25vh;
  margin-bottom: 1rem;
}

.desktop-weather-info-card {
  margin: 0 0.5rem;
  width: 13vw;
  max-width: 12.5rem;
}

.card-title {
  margin-bottom: 1rem;
}

.card-maximum-temperature,
.card-minimum-temperature {
  margin: 0.8rem;
  font-size: 1rem;
  font-weight: bolder;
}
