body {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html {
  overflow: hidden;
}

main {
  padding-top: 3.5rem;
  overflow: hidden;
}

.header {
  position: fixed;
  z-index: 2;
}

.background {
  background: url("../assets/img/weather.jpg") center/cover;
  filter: grayscale(50%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  margin-top: 3rem;
}

.navigation-items {
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    vertical-align: middle;
    cursor: pointer;
  }

  a:active, a:hover {
    color: lightgrey;

  }
  span:focus {
    outline: none;
  }

  li {
    padding-right: 30px;
  }

  mat-icon {
    vertical-align: middle;
    margin: 0 0.3rem 0.3rem 0;

  }
}

mat-list-item {
  cursor: pointer;
}

#grade-icon {
  margin-right: 0;
}
