<mat-toolbar color="primary" fxLayout="row" class="header" fxLayoutAlign="end" >
  <div fxFlex fxLayout fxLayoutAlign="end center" style="margin-top: 0.5em">
    <ul fxFlex fxLayout fxLayoutAlign="flex-end" class="navigation-items">
      <li>
        <a mat-list-item >
          <mat-icon>home</mat-icon>
          <span routerLink="/" routerLinkActive="active" [ngStyle.lt-sm]="{'font-size.rem': 0.8}" [ngStyle.gt-xs]="{'font-size.rem': 1.3}" >HOME</span>
        </a>
      </li>
      <li>
        <a mat-list-item >
          <mat-icon id="grade-icon">grade</mat-icon>
          <span routerLink="/favorites" routerLinkActive="active" [ngStyle.lt-sm]="{'font-size.rem': 0.8}" [ngStyle.gt-xs]="{'font-size.rem': 1.3}" > Favorites</span>
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>

<div class="background">
</div>
<main>
  <router-outlet></router-outlet>
</main>
