<div class="content-wrapper" *ngIf="cityWeatherForecastList && city">
  <div fxLayout="row" [ngClass.gt-xs]="'header-wrapper-desktop'" fxLayout.lt-md="column"
       fxLayoutAlign.lt-md="center center">
    <div style="display: inline-block" fxFlex="50" fxLayout="row">
      <img [src]="getIcon()" class="city-weather-icon" [ngClass.gt-xs]="'city-weather-icon-desktop'"
           *ngIf="cityWeatherForecastList">
      <div fxLayout="column" class="city-name-wrapper">
        <p class="city-name" [ngClass.gt-xs]="'city-name-desktop'"> {{city?.LocalizedName}}</p>
        <p>{{cityWeatherForecastList[0]?.Temperature.Maximum.Value}}&#730;C</p>
      </div>
    </div>

    <div fxLayout fxLayoutAlign.gt-xs="end" fxFlex="50">
    <span class="add-to-favorite-wrapper">
    <i class="material-icons favorite-icon" *ngIf="favorite; else second">favorite</i>
    <ng-template #second><i class="material-icons favorite-icon">favorite_border</i></ng-template>
      <button mat-raised-button (click)="changeCityStatus()" class="add-to-favorite-btn"
              [ngClass.gt-xs]="'add-to-favorite-btn-desktop'">{{ button_toggle_favorite_txt}}</button>
  </span>
    </div>
  </div>


  <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="center center" class="cards-container">
    <app-daily-weather-forecast *ngFor="let dailyWeather of cityWeatherForecastList" [dailyWeather]="dailyWeather">
    </app-daily-weather-forecast>
  </div>
</div>
