.cards-container {
  margin: 18vh 20vw;

}

.content-wrapper {
  margin: 10vh 1vw 0 1vw;
  padding: 0.5rem;

}

.favorite-icon {
  vertical-align: middle;
  margin-right: 0.3rem;
}

.add-to-favorite-btn {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 8px;
  outline: none;
  width: 200px;

}

.add-to-favorite-btn-desktop:hover {
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.add-to-favorite-btn-desktop {
  padding: 0.5rem 2rem;
  width: 200px;
}

.add-to-favorite-wrapper {
  margin: 0.5rem;

}

.city-weather-icon {
  width: 5rem;
}

.city-weather-icon-desktop {
  width: 8rem;
}

.city-name-wrapper {
  margin-top: 0.5rem;
}

.city-name {
  font-weight: bolder;
}

.city-name-desktop {
  font-size: 1.5rem;
}

.header-wrapper-desktop {
  margin: 0 20vw;
  padding-top: 0.6rem;
}

.mob-favorite-icon {
  font-size: 0.7rem;
}

.hide {
  display: none;
}
