<div fxLayout fxLayoutAlign="center center" class="list-empty" *ngIf="favoritesList?.length === 0">
  <h1 >No favorites</h1>
</div>
<div fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="center center" class="cards-container" [ngClass.xs]="'mob-cards-container'">
  <app-favorite-city-forecast *ngFor="let favorite of favoritesList; let index = index"
                              [name]="favorite.name"
                              [key]="favorite.key"
                              [index]="index"></app-favorite-city-forecast>
</div>
